*{
	margin: 0;
	padding: 0;
}

table{
	border-collapse: collapse;
	width: 100%;
}
thead{
	color: #fff;
	background: #487b0c;
}

td, th{
	padding: 10px;
	text-align: center;
	border: 2px solid #eee;
}

tbody tr:nth-child(even) {
	background: #f0f9e6;
}

